<!DOCTYPE html>
<html>
<head>
	<title>Бренди Духів</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Духи: ARMANI/DIOR</a></li><img src="https://dynl.mktgcdn.com/p/KfI5g-nDtylqhtl1RdhWzG0DMJ7sGl0lGfr3EARlPtQ/500x500.jpg" jsaction="VQAsE" class="r48jcc pT0Scc iPVvYb" style="max-width: 500px; height: 334px; margin: 0px; width: 334px
				<li><a href="#">Про них</a></li> <iframe width="369" height="315" src="https://www.youtube.com/embed/ccPjx351i7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
			</ul>
		</nav>
	</header>
	
	<main>
		<section>
			<h1>Dior</h1>
			
		</section>
		
		<section>
			</ul>
		</section>
	</main>
	
	<footer>
		<p>Всім Удачі.</p>
	</footer>
</body>
</html>
